.news{
    grid-area: news;
    background: #050801;
    border-right: #03e9f4 solid 1px;
}
.newsName{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.newsName_nav {
    text-decoration: none;
    color:#03e9f4;
}
.newsContent{
    padding-left: 10px;
    padding-right: 10px;
}
.NewsId{
    color:#03e9f4;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px dotted #03e9f4;
}
.active{
    font-weight: 700;
    text-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}
@media (max-width: 600px){
    .news{
        display: none;
    }
}