.App{
  display: grid;  
  grid-template-rows:  100px 50px 200px 100%; /* 3 строки */
  grid-template-columns: 2fr  8fr 2fr; /* 3 столбца */
  grid-template-areas: "header header header" 
                        "api api api"
                        "baner baner baner" 
                       "news content rightBar";  
  width: 100%;
 
}
.Content{
   background-color: #050801;
}
.Baner{
  grid-area: baner;
  width: 100%;
  height: 100%;
}
.Baner img{
  width: 100%;
  height: 100%;
}
.Content{
  grid-area: content;
}
@media (max-width: 600px){
  .App{
    display: block; 
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}